.programs-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.program-item {
  background-color: white;
  position: relative;
  display: flex;
}

.program-item a {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: none;
  color: black;
  padding: 40px 40px 25px;
}

img.program-image {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

ul.program-features-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 8px;
}

.program-feature-item {
  display: flex;
  column-gap: 10px;
}

.program-feature-item-icon {
  width: 15px;
  text-align: center;
}

.program-extra-info {
  background-color: #ff00e9;
  color: white;
  padding: 8px 15px;
  border-radius: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
  position: absolute;
  top: 20px;
  right: -15px;
}

@media screen and (max-width: 999px) {
  .programs-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 699px) {
  .programs-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 599px) {
  .programs-list {
    grid-template-columns: 1fr;
  }

  .program-item a {
    padding: 20px;
  }

  .program-extra-info {
    right: -10px;
  }
}
