.main-header {
  background-color: white;
  padding: 15px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.main-navigation {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

ul.main-menu {
  padding-left: 0;
  text-align: right;
}

li.menu-item {
  display: inline-block;
}

a.menu-link {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: black;
}

a.menu-link:hover {
  opacity: 0.8;
}

li.menu-item:first-of-type a.menu-link {
  padding-left: 0;
}

@media screen and (max-width: 799px) {
  .main-navigation {
    display: none;
  }
}